$fade: rgba(255,255,255,0.2);
$text-color: #8E8E8E !default;
$link-color: #1F6CDE !default;
$font-size-base: 15px !default;
$font-size-h1: 40px !default;
$headings-font-weight: 700 !default;
$headings-color: #2C2F33;
$font-family-base: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif !default; 