.app {
	margin-left: 650px;
	margin-top: 115px;
	padding: 0;
	min-width: 700px;
	max-height: 774px;
}

@media screen and (max-width: 768px) {
	.app {
		margin: 0;
		min-width: 380px;
		max-height: 0;
	}
}