.favorites {
	max-width: 700px;

	h1 {
		margin-bottom: 90px;
		letter-spacing: 2px;
	}
	
	.gems-container {
		display: flex;
		flex-wrap: wrap;
	
		ul {
			margin-bottom: 20px;
			padding: 0;
			display: flex;
			flex-basis: 30%;
			li {
				margin-right: 10px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.favorites {
		min-width: 400px;
		width: 100%;
		max-width: 536px;
		margin-top: 60px;
		margin-left: 100px;

		h1 {
			margin-bottom: 50px;
		}
	}
}

@media screen and (max-width: 650px) {
	.favorites {
		margin-left: 60px;
		min-width: 400px;
		.gems-container	ul {
			flex-basis: 50%;
		}
	}
}

@media screen and (max-width: 510px) {
	.favorites {
		min-width: 300px;
		width: 100%;
		max-width: 340px;
		margin-left: 60px;
		.gems-container	ul {
			flex-basis: 100%;
		}
	}
}
