.gem {
	max-width: 700px;
	margin-left: 50px;
	
	ul {
		padding: 0;
		
		li {
			margin-right: 10px;
		}
	}
	h5 {
		font-weight: 400;
		margin-bottom: 13px;
		text-transform: uppercase;
	}

	.gem-name {
		display: flex;

		img:hover {
			cursor: pointer;
		}
	}

	.gem-info {
		margin-top: 36px;

		p {
			font-weight: 300;
		}
	}

	.gem-dependencies-container {
		margin-top: 34px;
		.gem-dependencies {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 350px;

			ul {
				flex-direction: row;
				margin-top: 16px;
				flex-basis: 50%;
			}
		}
	}
}