.search {
	max-width: 700px;
	h1 {
		min-width: 260px;
		margin-left: 50px;
		letter-spacing: 2px;
	}
	.search-bar {
		
		.form {
			position: relative;
			input {
				margin: 50px 0;
				height: 89px;
				width: 700px;
				padding: 35px;
				border: 1px solid #5F5F5F;
				border-radius: 45px;
				color: #5F5F5F;
				font-size: 18px;
				letter-spacing: 1px;
			}
			#errors {
				margin-bottom: 14px;
				color: #FF4F4F;
				border-color: #FF4F4F;
			}
			.magnify-btn {
				padding: 0;
				margin: 0;
				border: none;
				background-color: transparent;
				position: absolute;
				left: 640px;
				top: 84px;
				#errors {
					top: 86px;
				}
			}
		}
		
	}
	.errors {
		display: flex;
		justify-content: center;
		color: #FF4F4F;
		font : {
			size: 24px;
			weight: 700;
		}
	}
}

@media screen and (max-width: 768px) {
	.search {
		min-width: 400px;
		max-width: 0;
		margin-top: 60px;
		margin-left: 50px;

		h1 {
			margin-bottom: 50px;
		}

		.search-bar {
			.form {
				input {
					width: 580px;
				}
				.magnify-btn {
					left: 520px;
				}
			}
		}
		.errors {
			min-width: 580px;
		}
	}
}

@media screen and (max-width: 650px) {
	.search {
		min-width: 200px;
		margin-left: 30px;
		.search-bar {
			.form {
				input {
					width: 400px;
				}
				.magnify-btn {
					left: 340px;
				}
			}
		}
		.errors {
			min-width: 400px;
			p {
				text-align: center;
			}
		}
	}
}