.search {
	h1 {
		margin-left: 50px;
		letter-spacing: 2px;
	}
	.search-bar {
		input {
			margin: 50px 0;
			height: 90px;
			width: 780px;
			padding: 35px;
			border: 1px solid #5F5F5F;
			border-radius: 45px;
			color: #5F5F5F;
			font-size: 18px;
			letter-spacing: 1px;
		}
	}
}